@model RegisterViewModel

@{
    Layout = null;

}



<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">

    <br />
    <br />
    <br />
    <h1>Üye Ol</h1>
    <br />

    <form method="post">
      

        <div class="mb-3">
            <label>Adı Soyadınız</label>
            <input type="text" class="form-control" asp-for="NameSurname" placeholder="Adınız soyadınız" />

        </div>

        <div class="mb-3">
            <label>Mailiniz</label>
            <input type="email" class="form-control" asp-for="Mail" placeholder="Mailiniz" />

        </div>

        <div class="mb-3">
            <label>Kullanıcı Adınız</label>
            <input type="text" class="form-control" asp-for="Username" placeholder="Kullanıcı adınız" />

        </div>
        <div class="mb-3">
            <label>Şifreniz</label>
            <input type="password" class="form-control" asp-for="Password" placeholder="Şifreniz" />

        </div>

        <div class="mb-3">
            <a class="btn btn-dark" href="/Role/ListUser/">Anasayfa</a>
            <a class="btn btn-info" target="_blank" href="/Login/Index/">Giriş Yap</a>
          
            <input type="submit" class="btn btn-success" value="Kaydet" />

        </div>

    </form>

  

</div>